{% extends 'base.html' %}

{% block content %}
<div class="container mt-4" style="max-width:600px;">
  <table class="table table-bordered text-center align-middle" style="background:white;">
    <tr>
      <th colspan="1" class="text-danger" style="font-size:1.2rem;">
        マイページ <span class="text-danger">/mypage</span>
      </th>
    </tr>
    <tr>
      <td>
        ユーザー情報<br>
        ユーザー名 / メールアドレス
      </td>
    </tr>
    <tr>
      <td>
        目標設定<br>
        栄養目標 / 好み・傾向 / アレルギー
      </td>
    </tr>
    <tr>
      <td>
        保存ボタン
      </td>
    </tr>
    <tr>
      <td>
        ホーム / 商品選択 / 履歴 / 食事入力
      </td>
    </tr>
  </table>
</div>
{% endblock content %}