{% extends 'base.html' %}

{% block content %}
<div class="container mt-4" style="max-width:600px;">
  <table class="table table-bordered text-center align-middle" style="background:white;">
    <tr>
      <th colspan="1" class="text-danger" style="font-size:1.2rem;">トップ画面</th>
    </tr>
    <tr>
      <td style="height:60px;">ロゴ/タイトル</td>
    </tr>
    <tr>
      <td>
        今日の登録メニュー<br>
        <span>商品１</span><br>
        <span>商品２</span><br>
        <span>商品３</span>
      </td>
    </tr>
    <tr>
      <td style="height:80px;">栄養バランスグラフ</td>
    </tr>
    <tr>