{% extends 'base.html' %}

{% block header %}
<div class="alert alert-dark" role="alert">
  <h2>朝食内容</h2>
</div>
{% endblock header %}

{% block content %}
<div class="container" style="max-width: 400px;">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ object.title }}</h5>
      <p class="card-text">{{ object.memo }}</p>
      <p class="card-text">幸福度: {{ object.priority }}</p>
      <p class="card-text">入力日: {% if object.duedate %}{{ object.duedate|date:"Y年n月j日" }}{% else %}未設定{% endif %}</p>
      <a href="{% url 'todo:meal_list' %}" class="btn btn-secondary">一覧に戻る</a>
    </div>
  </div>
</div>
{% endblock content %}