{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>履歴</h2>
  
  {% if meals %}
    <ul>
      {% for meal in meals %}
        <li>
          <strong>{{ meal.title }}</strong>
          {% if meal.duedate %} - {{ meal.duedate }}{% endif %}
          <a href="{% url 'todo:meal_detail' meal.pk %}">詳細</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>履歴がありません。</p>
  {% endif %}

  <a href="{% url 'todo:meal_list' %}">一覧へ戻る</a>
</div>
{% endblock content %}