{% extends 'base.html' %}

{% block content %}
<div class="container mt-4" style="max-width:600px;">
  <table class="table table-bordered text-center align-middle" style="background:white;">
    <tr>
      <th colspan="1" class="text-danger" style="font-size:1.2rem;">
        履歴画面 <span class="text-danger">/history</span>
      </th>
    </tr>
    <tr>
      <td>
        カレンダー表示／リスト形式
      </td>
    </tr>
    <tr>
      <td>
        日別に食べた商品一覧<br>
        商品A<br>
        商品B
      </td>
    </tr>
    <tr>
      <td>
        栄養スコアグラフ
      </td>
    </tr>
    <tr>
      <td>
        ナビゲーションボタン<br>
        ホーム／商品選択／履歴／マイページ
      </td>
    </tr>
  </table>
</div>
{% endblock content %}