{% extends 'base.html' %}

{% block content %}
<div class="container mt-4" style="max-width:600px;">
  <table class="table table-bordered text-center align-middle" style="background:white;">
    <tr>
      <th colspan="1" class="text-danger" style="font-size:1.2rem;">
        商品詳細画面 <span class="text-danger">/product/:id</span>
      </th>
    </tr>
    <tr>
      <td>
        商品名／栄養情報
      </td>
    </tr>
    <tr>
      <td>
        栄養情報タグ
      </td>
    </tr>
    <tr>
      <td>
        詳細情報<br>
        商品説明／カテゴリ／メモ
      </td>
    </tr>
    <tr>
      <td>
        登録ボタン
      </td>
    </tr>
    <tr>
      <td>
        戻る／ホームボタン
      </td>
    </tr>
  </table>
</div>
{% endblock content %}