{% extends 'base.html' %}

{% block content %}
<div class="container mt-4" style="max-width:600px;">
  <table class="table table-bordered text-center align-middle" style="background:white;">
    <tr>
      <th colspan="1" class="text-danger" style="font-size:1.2rem;">
        食事入力画面 <span class="text-danger">/meal-input</span>
      </th>
    </tr>
    <tr>
      <td>
        食事入力フォーム<br>
        カテゴリ選択<br>
        食事名入力<br>
        タグ入力
      </td>
    </tr>
    <tr>
      <td>
        登録ボタン
      </td>
    </tr>
    <tr>
      <td>
        ホーム / 履歴 / マイページ
      </td>
    </tr>
  </table>
</div>
{% endblock content %}