{% extends 'base.html' %}

{% block content %}
<div class="container mt-4" style="max-width:600px;">
  <table class="table table-bordered text-center align-middle" style="background:white;">
    <tr>
      <th colspan="1" class="text-danger" style="font-size:1.2rem;">
        商品選択画面 <span class="text-danger">/select</span>
      </th>
    </tr>
    <tr>
      <td>
        カテゴリ選択ドロップダウン
      </td>
    </tr>
    <tr>
      <td>
        検索バー
      </td>
    </tr>
    <tr>
      <td>
        商品一覧<br>
        商品１（追加ボタン）<br>
        商品２（追加ボタン）
      </td>
    </tr>
    <tr>
      <td>
        戻る / ホームボタン
      </td>
    </tr>
  </table>
</div>
{% endblock}