{% extends 'base.html' %}

{% block header %}
<div class="alert alert-dark" role="alert">
  <h1>TodoList <span class="badge bg-secondary">最新版</span></h1>
</div>
{% endblock header %}

{% block content %}
<div class="container">
{% for item in object_list %}
<div class="alert alert-{{ item.priority }}" role="alert">
  <p>{{ item.title }} 期日:{{ item.duedate}}</p>
  <a class="btn btn-info " role="button" aria-disabled="true">編集画面へ</a>
  <a class="btn btn-success " role="button" aria-disabled="true">削除画面へ</a>
  <a class="btn btn-primary " role="button" aria-disabled="true">詳細画面へ</a>
</div>
{% endfor %}
</div>
{% endblock content %}